* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.merriweather-heading {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared class */
.mt {
  margin-top: 120px;
}

.text-primary {
  color: #070211;
}

.text-secondary {
  color: #ff0000;
}

.text-center {
  text-align: center;
}

/* body */
body {
  max-width: 1320px;
  margin: 0 auto;
}

/* banner */
.banner {
  position: relative;
  padding: 177px 344px;
  margin-top: 20px;
  background-image: url("../images/Banner\ Image.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  z-index: 1;
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(7, 2, 17, 1) 0%,
    rgba(7, 2, 17, 0) 100%
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 600px;
  border-radius: 15px;
  z-index: -1;
}

.banner h4 {
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 15px;
}

.banner h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* discount section */
.discount {
  text-align: center;
}

.discount h2 {
  font-size: 88px;
  font-weight: 700;
}

.discount img {
  width: 800px;
  height: 500px;
}

.holiday-deal {
  margin: 48px 0;
}

.holiday-deal p {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.holiday-deal h3 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 16px;
}

/* midnight party section */
.mid-night {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: relative;
  padding: 120px;
  border-radius: 15px;
  z-index: 1;
}

.mid-night::before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(7, 2, 17, 1) 0%,
    rgba(7, 2, 17, 0) 100%
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
}

.mid-night-content {
  width: 50%;
}

.mid-night-content h2 {
  font-size: 64px;
  font-weight: 800;
  line-height: 88px;
}

.mid-night-content p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 30px 0;
}

.mid-night-content a {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.mid-night-img {
  width: 50%;
  text-align: right;
}

.mid-night img {
  height: 464px;
}

/* time section */
.time {
  background: linear-gradient(
    to bottom,
    rgba(255, 235, 235, 1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 482px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.specific-time h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 56px;
}

.specific-time button {
  padding: 16px 32px;
  background: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 45px;
}

/* coming soon section */
.coming-soon {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.coming-part-one {
  padding: 100px 0;
}

.coming-part-one h5 {
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
}

.coming-part-one h3 {
  font-size: 48px;
  font-weight: 800;
  color: #070211;
  padding-top: 16px;
}

.coming-part-one p {
  font-size: 20px;
  color: #070211;
  padding-top: 20px;
  text-align: justify;
}

.coming-part-two img {
  height: 340px;
  width: 340px;
  padding: 30px;
  border: 15px solid #ff0000;
  border-radius: 100%;
}

.coming-part-three {
  padding: 100px 0;
}

.coming-part-three h3 {
  font-size: 48px;
  font-weight: 800;
  color: #ff0000;
}

.coming-part-three p {
  font-size: 20px;
  color: #070211;
  padding-top: 20px;
  text-align: justify;
}

.coming-part-three img {
  padding-top: 40px;
}

/* holidays sale */
.holiday-prehead {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

.holiday h3 {
  font-size: 72px;
  font-weight: 800;
}

.holiday p {
  font-size: 20px;
  color: #070211;
  padding-top: 20px;
  text-align: center;
}

.holiday-img-container {
  position: relative;
  height: 650px;
}

.holi-one {
  position: absolute;
  bottom: 0;
}
.holi-two {
  position: absolute;
  bottom: 30px;
}
.holi-three {
  position: absolute;
  right: 0;
  top: 80px;
}

/* portfolio section  */
.portfolio-prehead {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

.portfolio-heading {
  font-size: 48px;
  font-weight: 800;
  padding-top: 10px;
}

.portfolio-des {
  font-size: 20px;
  color: #070211;
  padding-top: 20px;
}

.profile-img-show {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

/* subscribe section */
.subscribe {
  background-color: #fff2f2;
  border-radius: 15px;
  padding: 80px 212px;
}

.subscribe h3 {
  font-size: 48px;
  font-weight: 800;
  padding: 20px 0;
}

.subscribe p {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}

.subscribe form {
  margin-top: 48px;
}

.subscribe input[type="email"] {
  height: 72px;
  width: 450px;
  border: none;
  border-radius: 50px 0 0 50px;
  color: #070211;
  padding-left: 30px;
  font-size: 18px;
}

.subscribe input[type="submit"] {
  height: 72px;
  width: 190px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  color: #070211;
  font-size: 18px;
  background: #ff0000;
  margin-left: -3px;
}

/* footer */
footer {
  background-color: #070211;
  color: #ffffff;
  padding: 100px 140px;
}

.ft-part-one {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact div {
  display: flex;
  margin-right: 15px;
}

.social-midea {
  padding: 40px 0;
}

.social-midea ul {
  display: flex;
  justify-content: center;
}

.social-midea ul li {
  list-style: none;
  padding-right: 20px;
}

.copyright {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
